<div class="row row-center">
            <div class="col padding">
              <div class="list list-inset">
              </div>

<ion-content class='bg-color-stable'>
        <div class="list">
          <p style="margin-top: 8px;">&nbsp;</p>         
          <ion-item class="item-icon-right">
                <span class="gotham-book">Location</span>
                <label class="item item-input">
                  <input type="text" ng-model="user.number"> 
               </label>
          </ion-item>
      
          <ion-item class="item-icon-right">
                    <span class="gotham-book">Food</span>
                    <label class="item item-input">
                    <input type="text" ng-model="user.number"> 
                    </label>
              </ion-item>
              
              <ion-item class="item-icon-right">
                    <span class="gotham-book">Numer of Portions</span>
                    <label class="item item-input">
                    <input type="text" ng-model="user.number"> 
                    </label>
              </ion-item>

              <ion-item class="item-icon-right">
                    <span class="gotham-book">Time span</span>
                    <label class="item item-input">
                    <input type="text" ng-model="user.number"> 
                  </label>
              </ion-item>
          </div>
 </ion-content>