<ion-modal-view>
    
    <ion-header-bar class="bar-positive">
                <button class="button ion-android-arrow-down" 
                ng-click = "closeModal()"> </button>
                
                <h1 class="title"><img class="title-image" src="img/freefood_logo.png" width="123" height="30" style="margin-top: 5px" /></h1>
    </ion-header-bar>

    <ion-content class="bg-color-stable">
        <p style="margin-top: 8px;">&nbsp;</p>
        <ion-item class="text-center "> 
            <center><img ng-src="img/user.jpg" align="middle" width="100px" height="100px"></center>
    </ion-item>
     
      <div class="list">
        <ion-list class="list-borderless">
            <p style="margin-top: 8px;">&nbsp;</p>
            <ion-item class="text-center color-red">
                Joseph James, 32
        </ion-item>
        <p style="margin-top: 8px;">&nbsp;</p>
                <ion-item class="text-center color-red">
                    Apples challenge
                </ion-item>
         
                <p style="margin-top: 8px;">&nbsp;</p>
        <ion-item class="text-center color-red">
                Health tip: "Drink a lot of water!"
        </ion-item>
 
        </ion-list>
       
      </div>
      <p style="margin-top: 30px;">&nbsp;</p>
    </ion-content>
    
  </ion-modal-view>