<ion-view view-title="Tinder" hide-nav-bar="true">
      <ion-header-bar align-title="center" class="bar-stable">

        <div class="buttons" ng-click="slideTo(0)">
          <button class="button button-clear icon ion-person animated {{slideIndex == 0 ? 'color-food' : 'color-gray'}}"></button>
        </div>
        <h1 class="title {{slideIndex ==1 ? 'color-red' : 'color-gray'}}" >
          <img ng-src="img/freefood_logo.png" class="header-logo">
        </h1>
        <div class="buttons" ng-click="slideTo(2)">
            <button class="button button-clear icon ion-map animated {{slideIndex == 2 ? 'color-food' : 'color-gray'}}"></button>
        </div>

      </ion-header-bar>
  <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false" active-slide="slideIndex" ion-slide-tabs>
    <ion-slide on-drag-left="onRelease()" on-drag-right="onTouch()">
      <ion-content>
        <div class="profile-container">
          <img ng-click="showProfile()" ng-src="img/ben.png" class="profile-image" width="100">
          <img
            ng-click="showSettings()"
            ng-src="img/edit.png"
            class="profile-edit"
            width="50">
        </div>

          <div class="text-center padding" style="margin-top:22px;">
            <h3>Ben</h3>
            <p class="color-gray">Food lover and HachZurich 2017 Participant :D </p>
          </div>

          <ion-list class="text-center uppercase">
            <ion-item class="color-pastel-blue" style="top: 30px;" ng-click="showSettings()">
              Settings
            </ion-item>
            <ion-item class="color-pastel-blue" style="top: 30px;">
              Get Free-Food Plus
            </ion-item>
            <ion-item class="color-red" style="top: 30px;">
              Logout
            </ion-item>
          </ion-list>
      </ion-content>
    </ion-slide>

    <!-- needs to include the second slide to make sure the map view populated rightly -->
    <ion-slide>

    </ion-slide>

    <ion-slide on-drag-left="onTouch()" on-drag-right="onRelease()">
      <ion-content>
        <div id="map" data-tap-disabled="true"></div>
      </ion-content>
    </ion-slide>
  </ion-slide-box>
</ion-view>
