<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Settings</h1>
    <button class="button button-clear button-assertive" ng-click="hideSettings()">
      Done
    </button>
  </ion-header-bar>
  <ion-content class="bg-color-stable">
    <div class="list">
        <p style="margin-top: 8px;">&nbsp;</p>
        <ion-item class="text-center color-red">
          Get Free-Food Plus
        </ion-item>

        <ion-item class="item-icon-right">
          <span class="gotham-book">Location</span>
          <span class="item-note color-darkgray gotham-book">Zurich</span>
          <i class="icon ion-ios-arrow-forward color-gray font-130 bold"></i>
        </ion-item>

        <ion-item class="item-icon-right">
          <span class="gotham-book">Gender</span>
          <span class="item-note color-gray gotham-medium">Man</span>
          <i class="icon ion-ios-arrow-forward color-gray font-130 bold"></i>
        </ion-item>

        <p style="margin-top: 8px;">&nbsp;</p>
        <ion-toggle  ng-model="myToggle" ng-change="highQualityChanged(toggle)" toggle-class="toggle-assertive" ng-checked='toggle'>
          <span class="bold">Notifications</span>
        </ion-toggle>
        <p class="padding color-gray">Notify me when there is free food event around me.</p>

        <p style="margin-top: 4px;">&nbsp;</p>
        <div class="padding color-gray">CONTACT US</div>
        <ion-item class="text-center gotham-book">Help & Support</ion-item>
        <p style="margin-top: 4px;">&nbsp;</p>
        <ion-item class="text-center gotham-book">Give Us Feedback</ion-item>

        <p style="margin-top: 4px;">&nbsp;</p>
        <ion-item class="text-center gotham-book">Share Free-food</ion-item>

        <p style="margin-top: 4px;">&nbsp;</p>
        <div class="padding color-gray">Legal</div>
        <ion-item class="item-icon-right gotham-book">
          Privacy Policy
          <i class="icon ion-ios-arrow-forward color-gray font-130 bold"></i>
        </ion-item>
        <ion-item class="item-icon-right gotham-book">
          Terms of Service
          <i class="icon ion-ios-arrow-forward color-gray font-130 bold"></i>
        </ion-item>
        <ion-item class="item-icon-right gotham-book">
          Licenses
          <i class="icon ion-ios-arrow-forward color-gray font-130 bold"></i>
        </ion-item>
        <p style="margin-top: 4px;">&nbsp;</p>
        <ion-item class="text-center gotham-book">Logout</ion-item>

        <p style="margin-top: 4px;">&nbsp;</p>

        <p class="text-center">
          Version 1.0.0
        </p>

    </div>
  </ion-content>
</ion-modal-view>