<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">
    <link href="https://rawgit.com/fraserxu/ionic-rating/master/ionic-rating.css" rel="stylesheet">
    
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>


    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>
    <script src="https://rawgit.com/fraserxu/ionic-rating/master/ionic-rating.min.js"></script>

    <!-- alternatively you can use the Google CDN -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script></script>
    <script type="text/javascript" src="js/map.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAJ32sieEjCY4nHhWTTHH79umpxbRQo3hY",
        authDomain: "freefood-1bed5.firebaseapp.com",
        databaseURL: "https://freefood-1bed5.firebaseio.com",
        projectId: "freefood-1bed5",
        storageBucket: "",
        messagingSenderId: "244682341939"
      };
      firebase.initializeApp(config);
    </script>
  </head>

  <body ng-app="starter" >
    <ion-pane>

      <ion-header-bar align-title="center" class="bar-positive">
        <div ng-controller="MyController">
          <button class="button button-grey" icon-start ng-click="openModal()"> + </button>
        </div>

        <h1 class="title"><img class="title-image" src="img/freefood_logo.png" width="123" height="30" style="margin-top: 5px" /></h1>
        
        <div ng-controller="ProfileCtrl">
          <button class="button button-grey ion-ios-person" icon-start ng-click="openModal()">  </button>
       </div>

      </ion-header-bar>

      <ion-nav-view></ion-nav-view>
    </ion-pane>
  </body>

</html>
